main > h1 {
  font-size: 6rem;
  line-height: 0.77;
  text-align: center;
  margin-bottom: 10vh;
  z-index: 5;
}
main > h3 {
  text-align: center;
  z-index: 5;
}

.gradient-background {
  background-color: #cc99ff;
  background-image: radial-gradient(
      at 68% 4%,
      hsla(293, 65%, 72%, 1) 0,
      transparent 44%
    ),
    radial-gradient(at 78% 9%, hsla(329, 98%, 76%, 1) 0, transparent 45%),
    radial-gradient(at 71% 56%, rgb(237, 178, 84) 0, transparent 51%),
    radial-gradient(at 85% 46%, hsla(74, 98%, 79%, 1) 0, transparent 54%),
    radial-gradient(at 56% 92%, rgb(208, 250, 117) 0, transparent 47%),
    radial-gradient(at 30% 70%, hsla(233, 74%, 72%, 1) 0, transparent 46%),
    radial-gradient(at 20% 33%, hsla(12, 99%, 76%, 1) 0, transparent 43%),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  height: 100vh;
  width: 100vw;
}
/* removing default card's image width */
.nextui-c-BDLTQ .nextui-image {
  width: 300px;
}
/* removing default card's padding */
.nextui-c-eFfoBo .nextui-c-eFfoBo-icQOstk-css {
  padding: 0;
  padding: 8px 8px;
}
.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}

.profile-username{
  font-size: x-large;
}